body {
    padding-top: 80px;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
}

@media print {
  a[href]:after {
    content: none;
  }
}

/* Footer */

.footer {
  background-color: #f5f5f5;
  padding: 3rem;
  margin-top: 2rem;
}

.footer ul {
  padding-left: 0;
}

.footer li {
  display: inline-block;
}

.footer li+li {
  margin-left: 1rem;
}
